! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* img {
  max-width:100%;
  height: auto;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:placeholder-shown { /* Standard one last! */
  color: #000;
}

/* ==========================================================================
   Page
   ========================================================================== */

body {
  background: #000;
  padding: 10px;
}

.container {
  width: calc(100% - 30px);
  height: calc(100vh - 20px);
  background: #EAEAEA;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}

.header {
  padding: 10px;
}

.btn {
  width: 20%;
}

button {
  font-size: 1.5em;
  padding: 10px;
  margin: 0 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  width: 30%;
  background: #666;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;

  line-height: 6vh;
  color: #000;
  font-size: 1.5em;
  cursor: pointer;
}

.box-key {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 3px;
  background: rgba(255,255,255,0.5);
  padding: 1px 7px;
}

.box-name {
  text-transform: uppercase;
}

.progress {
  margin-bottom: 0;
}

.bar {
  float: left;
  height: 20px;
}

/* ==========================================================================
   Button Color
   ========================================================================== */

.btn-warning {
  background: #746d64;
  border-color: #746d64;
}

.btn-warning:hover {
  background: #82735f;
  border-color: #82735f;
}

.btn-info {
  background: #656f72;
  border-color: #656f72;
}

.btn-info:hover {
  background: #62757b;
  border-color: #62757b;
}

.btn-danger {
  background: #726464;
  border-color: #726464;
}

.btn-danger:hover {
  background: #885c5c;
  border-color: #885c5c;
}

.btn-danger-on {
  background: #A42C2C !important;
  border-color: #fff !important;
}

.btn-success {
  background: #656e65;
  border-color: #656e65;
}

.btn-success:hover {
  background: #627762;
  border-color: #627762;
}



/* ==========================================================================
   Color Palette
   ========================================================================== */

.red {
  background: #d01131 !important;
}

.blue {
  background: #1b66fa !important;
}

.yellow {
  background: #ffe400 !important;
}

.green {
  background: #7fb817 !important;
}

.orange {
  background: #ff8e2a !important;
}

.purple {
  background: #9e35ae !important;
}

.pink {
  background: #fc6be9 !important;
}

.violet {
  background: #b291ef !important;
}

.cyan {
  background: #39badd !important;
}

.gray {
  background: #a6a89d !important;
}

.black {
  background: #262f31 !important;
  color: #fff !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 400px) {
  body {

  }
}

@media screen and (min-width: 415px) {

}

@media screen and (min-width: 500px) {
  .box {
    width: 28%;
  }
}

@media screen and (min-width: 1000px) {
  .box {
    width: 30%;
  }
}